header {
  width: 100vw;
  position: fixed;
  z-index: 2;
}
header nav {
  font-size: 3rem;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100vw;
  height: 10vh;
  display: flex;
}
header nav div.navigation {
  display: flex;
  width: 80%;
  height: 100%;
}
header nav div.navigation ul {
  display: flex;
  width: 90%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}
header nav ul#socials {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
}
header nav ul#socials li a {
  width: 3rem;
  padding: 1rem 1rem;
}
header nav a {
  color: #ffffff;
  transition: color 0.5s ease;
}
header nav a:hover {
  color: #dd1d5b;
  transition: 0.3s;
}
header a, header li, header i, header ul {
  text-decoration: none;
  list-style: none;
}

body {
  padding: 0;
  margin: 0;
  background-color: #000000;
  font-family: Metropolis, Gotham, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 48px;
  width: 100%;
  height: 100%;
  color: #ffffff;
}

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  padding-top: 20vh;
  box-sizing: border-box;
  background-image: url("../Images/Background2.webp");
  background-size: cover;
}
main section {
  display: flex;
  flex-direction: column;
  margin-left: 6.4%;
  width: 35%;
  min-height: 25vh;
  box-sizing: border-box;
}
main section a {
  height: 20%;
  margin-top: 15%;
}

p {
  color: #ffffff;
  font-weight: bold;
  font-size: 0.5em;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  color: #dd1d5b;
  font-size: 0.75em;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 1em;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  z-index: 1;
}
.buttons a {
  display: flex;
  align-items: center;
}
.buttons a button {
  width: 100%;
}

.reflective {
  overflow: hidden;
  box-shadow: inset 0 0 0.5rem 0.3rem rgba(255, 255, 255, 0);
  color: #fff;
  background-color: #2F535F;
  position: relative;
  border: 2px solid rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  padding: 10px 25px;
  border-radius: 3px;
  transition: all 0.25s ease;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 1px;
  font-size: 1rem;
  z-index: 1;
}

.darker-background {
  background-color: rgba(0, 0, 0, 0.5);
}

.lighten-background {
  background-color: rgba(47, 83, 95, 0.25);
}

footer {
  background-color: #000000;
}
footer section {
  margin-top: 5vh;
  min-height: 20vh;
}
footer section h2 {
  background-image: url(/Images/Background2.webp);
}

.container {
  margin-top: 2.5%;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.box {
  display: flex;
  flex-direction: column;
  min-height: 50%;
  width: 20%;
  border-radius: 5%;
  padding: 0.1rem;
}
.box p {
  font-size: 0.5em;
  text-align: center;
}

#FAQ h2 {
  margin-bottom: 5%;
}
#FAQ ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#FAQ ul li p {
  font-size: 0.75em;
  width: 30vw;
}
#FAQ ul li ul {
  width: 40%;
  display: flex;
}
#FAQ ul li ul li {
  font-size: 0.75em;
}

/*# sourceMappingURL=style-index.css.map */
