$black: #000000;
$white: #ffffff;
$title: #dd1d5b;
$main:  #2F535F;
@use "navbar-style";
@use "Banner";
@use "slider";
@use "FAQ";

body { //early on out information for the whole webpage.
    padding: 0;
    margin: 0;
    
    background-color: $black;
    font-family: Metropolis,Gotham,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 48px;
    width: 100%;
    height: 100%;
    color: $white
}

header{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background-image: url("../Images/Background2.webp");
    background-size: cover;

}

p{// text to white
    color:$white;
    font-weight: bold;
    font-size: 0.5em;
}


h1,h2,h3,h4,h5{//titles  coloring and center of the element
    margin: 0;
    color:$title;
    font-size: 0.75em;
    display: flex;
    justify-content: center;
}
h1{
    font-size: 1em;
}


.reflective {// button makeup
    overflow: hidden;
    box-shadow: inset 0 0 .5rem .3rem rgba(255,255,255, 0);
    color: #fff;
    background-color: $main;
    position: relative;
    border: 2px solid rgba(0,0,0,.3);
    text-transform: uppercase;
    padding: 10px 25px;
    border-radius: 3px;
    transition: all .25s ease;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1px;
    font-size: 1rem;
    z-index: 1;

    a{
        color:$white;
        text-decoration: none;
    }
}

.darker-background{// for the darker background behind the text
    background-color: rgba($color: $black, $alpha: 0.5);
}

.lighten-background{// for the lighter green background behind the text
    background-color: rgba($color: $main, $alpha: 0.25);
}

main{// where review and FAQ reside
    background-color: $black;
    section { // review and FAQ section
        h2{// funny bar behind the h2 text
            background-image: url(/Images/Background2.webp);
        }
        margin-top: 3%;
        min-height: 20%;
    }
}

.box{ // boxes with yapping
    p{
        font-size: 0.5em;
        text-align: center;
    }
}

.CenterInDiv{
    display: flex ;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
}

