$black: #000000;
$white: #ffffff;
$title: #dd1d5b;
$main:  #2F535F;
@use "navbar-style";

body { //early on out information for the whole webpage.
    padding: 0;
    margin: 0;
    
    background-color: $black;
    font-family: Metropolis,Gotham,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 48px;
    width: 100%;
    height: 100%;
    color: $white
}

main{ // basically the header but I started crying trying to fix it so it is what it is
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    padding-top: 20vh;
    box-sizing: border-box;
    background-image: url("../Images/Background2.webp");
    background-size: cover;

    section{// two halves of the page
        display: flex;
        flex-direction: column;
        margin-left: 6.4%;
        width: 35%;
        min-height: 25vh;
        // border: 1px dashed $white;
        box-sizing: border-box;
        // padding-top: 20vh;
        a{
            height: 20%;
            margin-top: 15%;
        }
    }
}

p{// text to white
    color:$white;
    font-weight: bold;
    font-size: 0.5em;
}


h1,h2,h3,h4,h5{//titles  coloring and center of the element
    margin: 0;
    color:$title;
    font-size: 0.75em;
    display: flex;
    justify-content: center;
}
h1{
    font-size: 1em;
}

.buttons{ // button poistioning
    display: flex;
    justify-content: space-evenly;
    z-index: 1;
    a{
        display: flex;
        align-items: center;
        button{
            width: 100%;
        }
    }   
}

.reflective {// button makeup
    overflow: hidden;
    box-shadow: inset 0 0 .5rem .3rem rgba(255,255,255, 0);
    color: #fff;
    background-color: $main;
    position: relative;
    border: 2px solid rgba(0,0,0,.3);
    text-transform: uppercase;
    padding: 10px 25px;
    border-radius: 3px;
    transition: all .25s ease;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1px;
    font-size: 1rem;
    z-index: 1;
}

.darker-background{// for the darker background behind the text
    background-color: rgba($color: $black, $alpha: 0.5);
}

.lighten-background{// for the lighter green background behind the text
    background-color: rgba($color: $main, $alpha: 0.25);
}

footer{// where review and FAQ reside
    background-color: $black;
    section { // review and FAQ section
        h2{// funny bar behind the h2 text
            background-image: url(/Images/Background2.webp);
        }
        margin-top: 5vh;
        min-height: 20vh;
    }
}

.container{// container for the boxes
    margin-top: 2.5%;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.box{ // boxes with yapping
    display: flex;
    flex-direction: column;
    min-height: 50%;
    width: 20%;
    border-radius: 5%;
    padding: 0.1rem;
    
    p{
        font-size: 0.5em;
        text-align: center;
    }
}

#FAQ{// FAQ cuz yk my code aint proper,
    h2{
        margin-bottom: 5%;
    }
    ul{
        li{ // making the awnsers appear behind the questions
            display: flex;
            align-items: center;
            justify-content: space-between;
            p{// smaller fotn and making boxes smoll
                font-size: 0.75em;
                width: 30vw;
            }
            ul{// so the text can be behind the question and I don't have to cry abouti it.
                width: 40%;
                display: flex;
                li{ //smaller text
                    font-size: 0.75em;
                }
            }
        }
    }
}

